body{
    background-color: white;
    color: black;
}

.container {
    width: 100%;
    margin: auto;
}

#des {
    width: 50vw;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto mono', sans-serif;
    font-size: 1.5vw;
}

#links {
    width: 70vw;
    margin-top: 0;
    margin-left: 24.5vw;
    margin-right: auto;
    font-family: 'Roboto mono', sans-serif;
    font-size: 1vw;
}

#links a {
    color: black;
    text-decoration: underline;
}

#links a:hover {
    color: gray;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#title{
    width: 50vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jost', sans-serif;
    font-size: 5vw;
}

#video{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.blog-container {
    width: 100%;
    margin: auto;
}

.blog-mainbody {
    width: 70vw;
    margin-left: 25vw;
    margin-right: 0;
}

.blog-mainbody a {
    color: black;
    text-decoration: underline;
}

.blog-mainbody a:hover {
    color: gray;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.blog-mainbody .links {
    font-family: 'Roboto Mono', monospace;
    margin-top: 10vh;
    font-size: 1vw;
}

.blog-mainbody #gallery {
    width: 50vw;
    aspect-ratio: 4/3;
}

.blog-container h1{
    margin-top: 5vh;
    font-family: 'Jost', sans-serif;
    font-size: 4vw;
    font-weight: 400;
}

.blog-container h2{
    font-family: 'Jost', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: #555;
}

.blog-container h3{
    font-family: 'Jost', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: #555;
}

.blog-container p {
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
}

.gallery-page {
    margin: auto;
    width: 25vw;
}

#gallery .column {
    width: 50%;
    display: inline-block;
}

#gallery .row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 25vw;
}

.image{
    width: 97%;
    height: 97%;
    margin: 0;
    padding: 1.5%;
}

.slick-arrow{
    color: black !important;
}

